.bg-opacity-animation {
    animation-name: opacityChange;
    animation-duration: 1s;
}

@keyframes opacityChange {
    from {
        background-color: rgba(255, 255, 255, 0);
        /* Fully transparent */
    }

    to {
        background-color: rgba(255, 255, 255, 0.5);
        /* 50% opacity white */
    }
}